.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    z-index: 99;
    &.bg-light {
        background: #01203e !important;
        padding: 12px;
    }
    .navbar-brand {
        color: #fff;
        font-size: 35px;
    }
    .nav-item {
        .nav-link {
            color: #fff;
            cursor: pointer;
            &.active {
                font-weight: 500;
            }
        }
    }
    .dropdown-menu {
        a {
            cursor: pointer;
        }
    }
}
