.mat-table {
    width: 100%;
    tr.mat-header-row {
        height: 40px;
        background: #01203e;
        .mat-header-cell {
            font-size: 15px;
            color: #fff;
            border-color: #01203e;
        }
    }
}
.width-30P {
    width: 30%;
}
.device-H {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #01203e;
    margin-right: 10px;
}
