<app-header></app-header>
<div class="container-fluid mt-85">
    <div class="row align-items-center">
        <div class="form-group col-8">
            <span class="device-H">Select Client : </span>
            <mat-form-field class="width-30P">
                <mat-label>Select Client</mat-label>
                <mat-select [(ngModel)]="selectedClient" required>
                    <mat-option>--</mat-option>
                    <mat-option value="1">-1-</mat-option>
                    <mat-option value="2">--2</mat-option>
                    <!-- <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                  </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4 text-right">
            <button mat-button class="NB-btn" (click)="addDevice()">Add Device</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="sNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                        <td mat-cell *matCellDef="let row"> {{row.sNo}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="device">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device </th>
                        <td mat-cell *matCellDef="let row"> {{row.device}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="dateOfInstall">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Instalation </th>
                        <td mat-cell *matCellDef="let row"> {{row.dateOfInstall}} </td>
                    </ng-container>
                    <ng-container matColumnDef="installBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Installed By </th>
                        <td mat-cell *matCellDef="let row"> {{row.installBy}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="sku">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                        <td mat-cell *matCellDef="let row"> {{row.sku}} </td>
                    </ng-container>
                    <ng-container matColumnDef="color">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                        <td mat-cell *matCellDef="let row"> {{row.color}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <span class="material-icons pointer mr-2">edit</span>
                            <span class="material-icons pointer">delete</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>

</div>