<h1 mat-dialog-title class="mb-1">Change Password</h1>
<div mat-dialog-content>
    <form [formGroup]="cpForm">
        <div class="form-row">
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" placeholder="Current Password" formControlName="currentPassword"
                        required>
                    <mat-error *ngIf="cpForm.get('currentPassword').hasError('required')">
                        Please enter current password
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
                    <mat-error *ngIf="cpForm.get('newPassword').hasError('required')">
                        Please enter new password
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm Password"
                        formControlName="confirmPassword" required>
                    <mat-error *ngIf="cpForm.get('confirmPassword').hasError('required')">
                        Please enter confirm password
                    </mat-error>
                    <mat-error *ngIf="cpForm.hasError('validatePwd')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button mat-button class="NC-btn mr-3">Cancel</button>
                <button mat-button class="NB-btn">Update</button>
            </div>
        </div>
    </form>
</div>