.add-device {
    .mat-dialog-title {
        font-size: 22px;
        border-bottom: 1px solid #d4d0d0;
        span {
            vertical-align: sub;
            margin-right: 5px;
            font-size: 25px;
        }
    }
    .mat-dialog-actions {
        border-top: 1px solid #d4d0d0;
    }
}
