<div class="add-device">

    <h2 mat-dialog-title>
        <span class="material-icons"> devices_other</span>
        Add Device
    </h2>
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button class="NB-btn">Save Device</button>
    </mat-dialog-actions>
</div>