<app-header></app-header>
<div class="container-fluid mt-85 CS-Form">
    <div class="row">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="card-heading mb-3">
                        Create Customer
                    </div>
                    <div class="heading"> Basic Information</div>
                    <div class="form-row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Customer Name</mat-label>
                                <input matInput placeholder="Customer Name" formControlName="customerNm" required>
                                <mat-error *ngIf="registerForm.get('customerNm').hasError('required')">
                                    Please enter customer name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="emailId" placeholder="Email" required>
                                <mat-error *ngIf="registerForm.get('emailId').hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('emailId').hasError('required')">
                                    Please enter email
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Website</mat-label>
                                <input matInput placeholder="Website" formControlName="website" required>
                                <mat-error *ngIf="registerForm.get('website').hasError('required')">
                                    Please enter website
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput type="text" placeholder="Mobile Number" [pattern]="numberFormat" formControlName="mobileNbr"
                                    required>
                                <mat-error *ngIf="registerForm.get('mobileNbr').hasError('required')">
                                    Please enter mobile number
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Landline Number</mat-label>
                                <input matInput type="text" [pattern]="numberFormat" placeholder="Landline Number"
                                    formControlName="landLineNbr" required>
                                <mat-error *ngIf="registerForm.get('landLineNbr').hasError('required')">
                                    Please enter landline number
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>AddressLine1</mat-label>
                                <input matInput type="text" placeholder="Address Line1" formControlName="addressLine1"
                                    required>
                                <mat-error *ngIf="registerForm.get('addressLine1').hasError('required')">
                                    Please enter address line1
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>AddressLine2</mat-label>
                                <input matInput type="text" placeholder="Address Line2" formControlName="addressLine2"
                                    required>
                                <mat-error *ngIf="registerForm.get('addressLine2').hasError('required')">
                                    Please enter address line2
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>AddressLine3</mat-label>
                                <input matInput type="text" placeholder="Address Line3" formControlName="addressLine3"
                                    required>
                                <mat-error *ngIf="registerForm.get('addressLine3').hasError('required')">
                                    Please enter address line3
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Country Name</mat-label>
                                <mat-select formControlName="countryId" required>
                                    <mat-option value="" disabled>Select Country</mat-option>
                                    <mat-option *ngFor="let country of countryList" [value]="country.countryId">
                                        {{country.countryName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('countryId').hasError('required')">
                                    Please select country name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>State Name</mat-label>
                                <mat-select formControlName="stateId" required>
                                    <mat-option value="" disabled>Select State</mat-option>
                                    <mat-option *ngFor="let states of statesList" [value]="states.stateId">
                                        {{states.stateName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('stateId').hasError('required')">
                                    Please select state name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>City Name</mat-label>
                                <input matInput type="text" placeholder="City Name" formControlName="cityNm" required>
                                <mat-error *ngIf="registerForm.get('cityNm').hasError('required')">
                                    Please enter city name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Zipcode</mat-label>
                                <input matInput type="text" placeholder="Zipcode" formControlName="zipCd" required>
                                <mat-error *ngIf="registerForm.get('zipCd').hasError('required')">
                                    Please enter zip code
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-4">
                            <label class="file">
                                <input type="file" id="file" aria-label="File browser example">
                                <span class="file-custom"></span>
                            </label>
                        </div> -->
                    </div>
                    <div class="heading"> Contact Information</div>
                    <div class="form-row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="contactFirstNm" required>
                                <mat-error *ngIf="registerForm.get('contactFirstNm').hasError('required')">
                                    Please enter first name
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Middle Name</mat-label>
                                <input matInput placeholder="Middle Name" formControlName="contactMiddleNm" required>
                                <mat-error *ngIf="registerForm.get('contactMiddleNm').hasError('required')">
                                    Please enter middle name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" formControlName="contactLastNm" required>
                                <mat-error *ngIf="registerForm.get('contactLastNm').hasError('required')">
                                    Please enter last name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="contactEmailId" placeholder="Email" required>
                                <mat-error *ngIf="registerForm.get('contactEmailId').hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('contactEmailId').hasError('required')">
                                    Please enter email
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput type="text" placeholder="Mobile Number"
                                    formControlName="contactMobileNbr" [pattern]="numberFormat" required>
                                <mat-error *ngIf="registerForm.get('contactMobileNbr').hasError('required')">
                                    Please enter mobile number
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Landline Number</mat-label>
                                <input matInput type="text" [pattern]="numberFormat" placeholder="Landline Number"
                                    formControlName="contactLandLineNbr" required>
                                <mat-error *ngIf="registerForm.get('contactLandLineNbr').hasError('required')">
                                    Please enter landline number
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Designation</mat-label>
                                <input matInput type="text" placeholder="Designation"
                                    formControlName="contactDesignation" required>
                                <mat-error *ngIf="registerForm.get('contactDesignation').hasError('required')">
                                    Please enter designation
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="heading"> PARTNER Information</div>
                    <div class="form-row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Customer Type</mat-label>
                                <mat-select formControlName="customerType" required>
                                    <mat-option value="" disabled>Select Customer Type</mat-option>
                                    <mat-option value="MP">Master Partner</mat-option>
                                    <mat-option value="FP">Franchise Partner</mat-option>
                                    <mat-option value="CL">Client / Site</mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('customerType').hasError('required')">
                                    Please select customer type
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4" *ngIf="activeCustomerType == 'FP'">
                            <mat-form-field class="example-full-width">
                                <mat-label>Select Customer</mat-label>
                                <mat-select formControlName="selectedCustomerId" required>
                                    <mat-option value="" disabled>Select Customer</mat-option>
                                    <mat-option [value]="partner.customerId" *ngFor="let partner of partnersData">
                                        {{partner.partnerName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('selectedCustomerId').hasError('required')">
                                    Please select customer
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="activeCustomerType == 'CL'">
                        <div class="col-12">
                            <label class="radio-label" id="example-radio-group-label">Select Client :</label>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                formControlName="clientType">
                                <mat-radio-button value="MP">Master Partner</mat-radio-button>
                                <mat-radio-button value="FP">Franchise Partner</mat-radio-button>
                                <mat-radio-button value="CL">Client / site</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="activeCustomerType == 'CL' && (clientType == 'FP' || clientType == 'CL')">
                        <div class="col-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Select Customer</mat-label>
                                <mat-select formControlName="reportingCustomerId" required>
                                    <mat-option value="" disabled>Select Customer</mat-option>
                                    <mat-option [value]="partner.customerId" *ngFor="let partner of partnersData">
                                        {{partner.partnerName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('reportingCustomerId').hasError('required')">
                                    Please select customer
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button mat-raised-button class="sub-btn mr-3">Register</button>
                            <button mat-raised-button class="can-btn" type="reset" (click)="resetForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>