.CS-Form {
    background: #f8f8f8;
    .heading {
        font-size: 15px;
        font-weight: 500;
        color: #ff735a;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .card {
        border: 0px;
        margin: 20px;
        .card-heading {
            border-bottom: 1px solid #eee4ee;
            font-size: 25px;
            color: #01203e;
            font-weight: 500;
            text-transform: uppercase;
        }
        .radio-label {
            font-weight: 500;
            vertical-align: bottom;
            padding-right: 10px;
        }
        .mat-radio-button {
            padding-right: 10px;
        }
    }
}
