.forgot {
    .card {
        margin-top: 100px;
        width: 450px;
        .card-heading {
            font-size: 25px;
            text-align: center;
            font-weight: 500;
        }
        .logo-box {
            background: #01203e !important;
            height: 90px;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            text-align: center;
            img {
                padding-top: 20px;
            }
        }
    }
}
