<div class="container forgot">
    <div class="row justify-content-md-center">
        <form [formGroup]="forgotForm">
            <div class="card">
                <div class="logo-box">
                    <img
                        src="https://static.wixstatic.com/media/edee84_79dbafec688642f08f0840f2fef2d9e4~mv2.png/v1/fill/w_181,h_53,al_c,q_85,usm_0.66_1.00_0.01/CC%20New%20Tag%20Logo-REV-Horz%20(1).webp" />
                </div>
                <div class="card-body pt-3">
                    <div class="card-heading mb-3">
                        Forgot Password
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="Email" required>
                                <mat-error *ngIf="forgotForm.get('email').hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="forgotForm.get('email').hasError('required')">
                                    Please enter email
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center mt-4">
                            <button mat-raised-button class="sub-btn mr-5" (click)="forgot()">Forgot</button>
                            <button mat-raised-button class="can-btn" routerLink="/">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>