/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
}
*,
:focus,
button:focus {
    outline: 0 !important;
}
.example-full-width {
    width: 95%;
}
.sub-btn {
    background: #0088b8;
    color: #fff;
    border-radius: 100px !important;
    text-transform: uppercase;
    min-width: 150px !important;
    height: 50px;
    border: 0 !important;
}
.can-btn {
    background-color: #a9a9a9;
    color: #fff;
    border-radius: 100px !important;
    text-transform: uppercase;
    min-width: 150px !important;
    height: 50px;
    border: 0 !important;
}
.mt-85 {
    margin-top: 85px;
}
.NB-btn {
    background: #0088b8;
    color: #fff;
}
.NC-btn {
    background-color: #a9a9a9;
    color: #fff;
}
.pointer{
    cursor: pointer;
}
